body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* .fade-anim img {
	animation: fadeAnim 0.5s ease-out;
}
@keyframes fadeAnim {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.clippy {
		clip-path: polygon(19% 0, 100% 0, 100% 73%, 79% 100%, 0 100%, 0 30%);
	}
}

@layer utilities {
	.clippy2 {
		clip-path: polygon(100% 0, 100% 23%, 100% 85%, 16% 86%, 6% 100%, 0 100%, 0 0);
	}
}

@layer utilities {
	.clippy3 {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 100%, 74% 100%, 22% 73%, 0 33%);
	}
}

@layer utilities {
	.boxshadow {
		-webkit-box-shadow: 1px 8px 6px 0px #008c82;
		-moz-box-shadow: 0 8px 8px 1px #008c82;
		box-shadow: -4px 15px 1px -6px #008c82;
	}
}

@layer utilities {
	.boxshadow2 {
		box-shadow: -14px 14px 0px 0px #194d33;
	}
}

@layer utilities {
	.bg-insight {
		background-color: #001a7a;
		height: 72vh;
	}
}
